* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: beige;
  position: relative;
}
header {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.nameBanner {
  font-size: x-large;
  border-bottom: 1px solid rgb(117, 117, 117);
  height: 40px;
}
.menuBar {
  height: 25px;
  background-color: rgba(253, 247, 237, 0.7);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(117, 117, 117);
}
ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}
.homeContainer {
  text-align: center;
}
p {
  padding: 10px;
}
img {
  width: 100%;
}
