* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: helvetica;
}
header {
  display: flex;
  background-color: rgb(243, 243, 241);
}
.nameContainer {
  padding-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 241);
}
.menuContainer {
  height: 80px;

  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
}
.w {
  height: 65px;
  animation-name: fadeIn;
  animation-duration: 1800ms;
}
.wComma {
  height: 10px;
  transform: translatey(29px);
  animation-name: fadeIn2;
  animation-duration: 1800ms;
}
.c {
  height: 55px;
  transform: translateX(-7px);
  opacity: 100%;
  animation-name: fadeIn3;
  animation-duration: 1800ms;
}
.cComma {
  height: 20px;
  transform: translate(-9px, 26px);
  animation-name: fadeIn4;
  animation-duration: 1800ms;
}
.bevan {
  height: 75px;
}

.landingPageWindow {
  height: 80vh;
  overflow: hidden;
}
.landingDiv {
  height: 100%;
  width: 100%;
}
.landingPic {
  transform: scale(1.1);
  height: auto;
  width: 100%;
  animation-name: zoomIn;
  animation-duration: 20s;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
.muralGalleryText {
  color: white;
  text-shadow: 1px 1px 17px black;
  font-size: 3em;
  position: absolute;
  top: 60%;
  left: 40px;
}
.mainBodyContainer {
  height: 1300px;
  border: 1px solid pink;
  display: flex;
}
.bodyLeftColumn {
  width: 50%;
  height: 100%;
}
.cacoMain {
  width: 275px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.bodyRightColumn {
  width: 50%;
  height: 100%;
}
footer {
  height: 200px;
  background-color: black;
  display: flex;
}
.left-foot {
  color: rgb(219, 219, 219);
  height: 100%;
  width: 33.3333%;
  background-color: black;
}
.middle-foot {
  color: rgb(219, 219, 219);
  height: 100%;
  width: 33.3333%;
  background-color: black;
}
.right-foot {
  color: rgb(219, 219, 219);
  height: 100%;
  width: 33.3333%;
  background-color: black;
}
.footer-title {
  height: 50px;
  margin: 20px 0px 0px 20px;
}
.foot-content {
  margin: 30px;
}
.instagramIcon {
  height: 20px;
}
